/* GENERIC STYLES --------------------------- */
.globalNav,
.searchBox,
.nav,
.aside,
.footer,
.js .printButton {
	display:none;
}
#main,
#content {
	background:none;
}
#content {
	padding-bottom:0;
	padding-right:15px;
}
h1 {
    font-size:24pt;
}
h2 {
    font-size:18pt;
}
h3 {
    font-size:14pt;
}

h1, h2, h3, .outOfStock h3, th, input, .button, .mainNav a {
	font-family: Arial, san-serif;
}

p,
img,
th,
td {
    font-size:12pt;
}
p {
	max-width:none;
}
#mainLogo {
    display:block;
    float:none;
    padding:20px 0;
}
.floatingHeader #page {
	padding:0 9px !important; /* overwrite dynamic js inline style */
}
/* SPECIFIC STYLES --------------------------- */
.additionalRecipeInfo ul,
.ingredientsList ul.links,
.recipeInformation .tabLinks,
.recipeInformation #reviews,
.recipeInformation #video,
#ingredientsHeader p,
.addAllIngredients,
.recipeInformation .tabs .last,
.recipeInformation .recipeAttributes,
#recipeReviews div,
#groceriesNav {
    display:none;
}
#recipeDisplay .noFlex #content {
    max-width:none;
}
.floatingHeader #globalHeaderContainer,
.recipeInformation .tabs .tabHidden {
	position:static;
}
.recipeInformation #information,
.recipeInformation #nutrition,
.recipeInformation #ingredients {
	border:0;
}
#information h3,
#nutrition h3 {
	border:1px solid #ccc;
	font-size:15pt;
	margin:0 0 1em;
	padding:10px;
}
#ingredientsHeader {
    max-width:none;
    padding:0;
}
#ingredientsHeader h2 {
    border:1px solid #ccc;
    font-size:15pt;
    margin:0 0 -1px;
    padding:10px;
}
#ingredients .productLister {
    margin:0;
}
#ingredients .productLister li {
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
}
#ingredients .productInfoWrapper {
    margin:0 -19em 0 0;
}
#ingredients .pricing {
    width:11em;
}
#ingredients .pricingAndTrolleyOptions {
    width:18.7em;
}
.recipeInformation #nutrition table {
    width:auto;
}
#recipeReviews .printScore {
    display:block;
}
.recipeInformation ol {
	max-width:none;
}
.recipeInformation ol li,
.ingredientsList .ingredient {
    font-size:12pt;
}
.BVRRRatingNormalOutOf span {
    font-size:11pt;
}

/* ORDER CONFIRMATION --------------------------- */
#orderConfirmation td.product div.pricing {display:none}
#orderConfirmation td.product {padding:0px}
#orderConfirmation .noFlex #content {width:90%;max-width:90%}
#orderConfirmation table.trolley td .productContainer{padding:5px;margin:0px;}
#orderConfirmation .fullTrolley td.substitutes { padding-top:5px;}
#orderConfirmation ul.actions li a.button {display:none}
#orderConfirmation .checkoutNumberConfirmation {border-bottom:0px;}
#orderConfirmation .checkoutThanks {display:none;}
#orderConfirmation table.trolleySummary {width:320px}
#orderConfirmation table.trolleySummary td {text-align:right}
#orderConfirmation a#mainLogo {margin-left:8px;padding-bottom:6px;}
#orderConfirmation .tableContainer,
#orderConfirmation .orderDetailsSection {
    margin-bottom:0;
}
#orderConfirmation table.trolley {
    margin-bottom:0;
    page-break-after:avoid;
}

